@model ITechArt.SurveysCreator.DAL.Models.User 

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Database - SurveysCreator</title>
</head>
<body>
    <h1>Create</h1>

    <hr />
    <div>
        <div>
            <p>Are you sure, you want to create a new record in database?</p>
            <form asp-action="Create">
                <input type="hidden" asp-for="FirstName" />
                <input type="hidden" asp-for="SecondName" />
                <input type="hidden" asp-for="Age" />
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Login" />
                <input type="submit" value="Yes"/>
            </form>
        </div>

        <div>
            <a asp-action="Index">Back to list</a>
        </div>
    </div>
</body>
</html>
