@model ITechArt.SurveysCreator.DAL.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Database - SurveysCreator</title>
</head>
<body>
    <h1>Edit Page</h1>

    <hr />
    <div>
        <div>
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div>
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" />
                </div>
                <div>
                    <label asp-for="SecondName"></label>
                    <input asp-for="SecondName" />
                </div>
                <div>
                    <label asp-for="Age"></label>
                    <input asp-for="Age" />
                </div>
                <div>
                    <label asp-for="Login"></label>
                    <input asp-for="Login" />
                </div>
                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
        
        <div>
            <a asp-action="Index">Back to list</a>
        </div>
    </div>
</body>
</html>
