@using ITechArt.Common.Utils

@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">This is About Page</h1>

    <p>Surveys Creator. Aliaksei Shukan, ITechArt, 2021</p>
    
    <environment names="Development">
        <p>@ITechArt.Common.Utils.AppVersionUtil.GetAppVersion()</p>
    </environment> 
</div>
